/*此文件用于对el-ui样式覆盖*/
/*覆盖非必要情况不要使用 ！important */
/*定义一个类名 参考u-需覆盖的UI样式类名，并注明注释 */

/*titleInputGroup 组件 下拉框样式覆盖*/
.input-container .el-select .el-input__inner{
    border: 0
}

/*el-dialog覆盖*/
.u-el-dialog .el-dialog__body{
    padding: 0
}

.u-el-dialog .el-dialog__header{
    background: #1881BF;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 30px;
}
.u-el-dialog .el-dialog__header .el-dialog__title{
    font-size: 16px;
    color: #fff;
}

.u-el-dialog .el-dialog__headerbtn{
    right: 14px;
    top: 14px;
}
.u-el-dialog .el-dialog__headerbtn .el-dialog__close{
    color: #fff;
}

/*title-input-group 组件内部*/
.u-title-input-group .el-select .el-input__inner{
    border-radius: 0;
}
.u-title-input-group.gray .el-input__inner{
    background: #F7F7F7;
}

/* el-pagination  覆盖 */
.u-el-pagination .el-pager li.active{
    border-radius: 4px;
    background: #409EFF;
    color: #fff;
}

.el-loading-mask.is-fullscreen{
    z-index: 9999 !important;
}
